:root {
  --bg-color: #f0edf1;
  --text-color: #555;

  --light-color: #ffffff;
  --dark-color: #cbced1;
  --darker-color: #a7aaaf;

  --white-color: #ffffff;
  --pink-color: #aa1178;
  --violet-color: #7008a4;

  --transition-some: background-color 0.4s, box-shadow 0.4s;
  --transition-all: all 0.4s;
}

.dark {
  --bg-color: #34393e;
  --text-color: #d3d3d4;

  --light-color: #41484e;
  --dark-color: #2e3236;
  --darker-color: #1c1f22;
}

/* dark n light mode button */
.toggle {
  position: fixed;
  left: 95%;
  top: 5%;
  transform: translate(-50%,-50%);

  width: 130px;
  height: 45px;
  border-radius: 50px;
  border: 0.1px solid var(--light-color);
  background-color: var(--bg-color);
  box-shadow: inset 10px 10px 15px var(--darker-color),
    inset -10px -10px 15px var(--light-color);
  transition: var(--transition-some);
}

.toggle label {
  width: 45px;
  height: 70px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.toggle-icon {
  background-image: url("assets/sun.svg");
  width: 25px;
  height: 25px;
  margin: 10px;
  display: inline-block;
  border-radius: 100px;
  pointer-events: none;
  position: relative;
  transition: var(--transition-all);
  box-shadow: 
    0px 0px 0px 3px var(--bg-color),
    4px 4px 7px var(--darker-color),
    -4px -4px 7px var(--light-color);
}

.toggle-icon .icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition-all);
}

.toggle-icon .moon {
  opacity: 0;
}

.toggle input {
  opacity: 0;
  width: 150px;
  height: 70px;
  cursor: pointer;
}

.toggle input:checked + label .toggle-icon {
  transform: translateX(80px) rotate(360deg);
}

.toggle input:checked + label .icon.moon {
  opacity: 1;
}

.toggle input:checked + label .icon.sun {
  opacity: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.4s ease, color 0.4s ease;
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background: var(--bg-color);
  transition: var(--transition-some);
}

.container:before {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  transition: var(--transition-some);
}

header {
  background-color: #282c34; /* Dark mode header background */
  color: #fff; /* Dark mode text color */
  padding: 2rem;
  text-align: center;
  position: relative;
  transition: background-color 0.4s ease;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

a {
  color: #007bff; /* Blue color for links in light mode */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icon {
  width: 24px;
  height: 24px;
}

/* Add styles for the logo */
.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 24px; 
  height: 24px;
  border-radius: 50%; 
  overflow: hidden;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease; 
}

.logo:hover {
  transform: scale(2); 
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}

@media (max-width: 768px) {
  .toggle {
    left: 90%;
    top: 5%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 641px) {
  .toggle {
    left: 80%;
    top: 5%;
    transform: translate(-50%, -50%);
  }
}
